body {
    font: 20px "Times New Roman", Times, serif;
    background-color: #F5F5F5;
    line-height: 1.8;
    color: #444;
    padding-top: 0px !important;
  }

p {font-size: 16px;}
.margin {margin-bottom: 15px;}

.container-fluid {
  padding: 0px;
  /*padding-bottom: 70px;*/
}

h1 {
  font-family: "Times New Roman", Times, serif;
}

h2 {
  font-family: "Times New Roman", Times, serif;
}

.nav-title{
  margin-left: 15px;
  margin-right: 15px;

}
#sticky-navbar {
      position: sticky;
      top: 0;
      z-index: 100;
    }

    .wk1-box {
  background-color: #FFCBCB; 
  width: 70%; 
  height: 270px; 
  border: 1px solid #FFCBCB; 
  margin: 0 auto; 
}

.gray-box {
  background-color: #BEBEBE; 
  width: 70%; 
  height: 270px; 
  border: 1px solid #BEBEBE; 
  margin: 0 auto; 
}

.row p {
  text-align: center;
}

.navbar {
  height: 80px; 
  background-color: #C1D5F0; 
}




/*     Montserrat, sans-serif; */
