body {
    font: 20px "Times New Roman", Times, serif;
    line-height: 1.8;
    color: black;
    padding-top: 0px !important;
  }

p {font-size: 16px;}
.margin {margin-bottom: 15px;}

.container-fluid {
  padding: 0px;
  /*padding-bottom: 70px;*/
}

h1 {
  font-family: "Times New Roman", Times, serif;
}


h2 {
  font-family: "Times New Roman", Times, serif;
}


.nav-title{
  margin-left: 15px;
  margin-right: 15px;

}
#sticky-navbar {
      position: sticky;
      top: 0;
      z-index: 100;
    }

    .colored-box {
  background-color: #FF5733; /* Choose your desired background color */
  width: 200px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  border: 2px solid #E03300; /* Add a border with your desired color */
  border-radius: 10px; /* Add rounded corners if desired */
  margin: 20px; /* Add margin to position the box */
  padding: 10px; /* Add padding to space content from the edges */
  color: white; /* Set text color to contrast with the background */
  text-align: center; /* Center the text horizontally */
  font-size: 18px; /* Adjust the font size */
}

/*     Montserrat, sans-serif; */
